@model InmobiliariaAlbornoz.Models.Contrato

@{
    ViewData["Title"] = "Cargar Contrato";
    IList<Inmueble> Inmuebles = (List<Inmueble>)ViewBag.Inmuebles;
    IList<Inquilino> Inquilinos = (List<Inquilino>)ViewBag.Inquilinos;
    Inmueble inmueble = (Inmueble)ViewBag.Inmueble;
}

@if (TempData["msg"] != null)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>@TempData["msg"]</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
}


@if (inmueble == null && Inmuebles.Count == 0)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>No se encontraron Inmuebles en la base de datos.</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
    if (Inquilinos.Count == 0)
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <span>No se Encontraron Inquilinos en la base de datos</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    }
}
else if (Inquilinos.Count == 0)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>No se encontraron Inquilinos en la base de datos.</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
}
else
{

    <h1>Cargar</h1>
    @if (inmueble == null)
    {
        <h4>Contrato</h4>
    }
    else
    {
        <h4>
            Contrato para
            <a asp-action="Details" asp-controller="Inmuebles" asp-route-id="@inmueble.Id">
                Inmueble @inmueble.Id
            </a> con dirección en @inmueble.Direccion
        </h4>
    }
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (inmueble == null)
                {
                    <div class="form-group">
                        <label asp-for="IdInmueble" class="control-label"></label>
                        <select class="form-control" name="IdInmueble">
                            @foreach (var i in Inmuebles)
                            {
                                <option value="@i.Id">
                                    @(i.Id +" - "+ i.Direccion)
                                </option>
                            }
                        </select>
                        <span asp-validation-for="IdInmueble" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <input type="hidden" name="IdInmueble" value="@inmueble.Id" />
                    </div>
                }
                <div class="form-group">
                    <label asp-for="IdInquilino" class="control-label"></label>
                    <select class="form-control" name="IdInquilino">
                        @foreach (var i2 in Inquilinos)
                        {
                            <option value="@i2.Id">
                                @(i2.Dni +" - " + i2.Nombre)
                            </option>
                        }
                    </select>
                    <span asp-validation-for="IdInquilino" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desde" class="control-label"></label>
                    <input asp-for="Desde" type="date" class="form-control" />
                    <span asp-validation-for="Desde" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Hasta" class="control-label"></label>
                    <input asp-for="Hasta" type="date" class="form-control" />
                    <span asp-validation-for="Hasta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DniGarante" class="control-label"></label>
                    <input asp-for="DniGarante" class="form-control" />
                    <span asp-validation-for="DniGarante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreGarante" class="control-label"></label>
                    <input asp-for="NombreGarante" class="form-control" />
                    <span asp-validation-for="NombreGarante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TelefonoGarante" class="control-label"></label>
                    <input asp-for="TelefonoGarante" class="form-control" />
                    <span asp-validation-for="TelefonoGarante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailGarante" class="control-label"></label>
                    <input asp-for="EmailGarante" class="form-control" />
                    <span asp-validation-for="EmailGarante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cargar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

}

<hr />

<div>
    <a class="btn btn-link" asp-action="Index">Lista de Contratos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
