@model InmobiliariaAlbornoz.Models.Contrato

@{
    ViewData["Title"] = "Detalles de Contrato";
}

@if (TempData["msg"] != null)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>@TempData["msg"]</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
}
<h1>Detalles</h1>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IdInmueble)
        </dt>
        <dd class="col-sm-8">
            <a asp-action="Details" asp-controller="Inmuebles" asp-route-id="@Model.IdInmueble">Ver Inmueble @Model.IdInmueble</a>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Inmueble.Propietario)
        </dt>
        <dd class="col-sm-8">
            <a asp-action="Details" asp-controller="Propietarios" asp-route-id="@Model.Inmueble.Propietario.Id">@Model.Inmueble.Propietario.Nombre</a>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Inquilino)
        </dt>
        <dd class="col-sm-8">
            <a asp-action="Details" asp-controller="Inquilinos" asp-route-id="@Model.Inquilino.Id">@Model.Inquilino.Nombre</a>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Desde)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Desde)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Hasta)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Valido)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Valido)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DniGarante)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DniGarante)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NombreGarante)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.NombreGarante)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TelefonoGarante)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TelefonoGarante)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EmailGarante)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EmailGarante)
        </dd>
    </dl>
</div>
<div>
    @if (Model.Valido)
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        <a class="btn btn-success" asp-action="Pagos" asp-controller="Contratos" asp-route-id="@Model.Id">Pagos</a>
        <a class="btn btn-warning" asp-controller="Pagos" asp-action="Create" asp-route-id="@Model.Id">Cargar Pago</a>
    }
</div>

<hr />
<div>
    <a class="btn btn-link" asp-action="Index">Lista de Contratos</a>
</div>