@model InmobiliariaAlbornoz.Models.Inmueble

@{
    ViewData["Title"] = "Borrar Inmueble";
}

@if (TempData["msg"] != null)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>@TempData["msg"]</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
}

<h1>Borrar</h1>

<div>
    <h4>Inmueble</h4>
    <hr />
    <h3>¿Seguro que desea borrar?</h3>
<hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsoNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsoNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ambientes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ambientes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Propietario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Propietario.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Borrar" class="btn btn-danger" />
    </form>
</div>

<hr />

<div>
    <a class="btn btn-link" asp-action="Index">Lista de Inmuebles</a>
</div>
