@model InmobiliariaAlbornoz.Models.Inmueble

@{
    ViewData["Title"] = "Detalles de Inmueble";
}

<h1>Detalles</h1>

<div>
    <h4>Inmueble</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TipoNombre)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TipoNombre)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UsoNombre)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.UsoNombre)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Ambientes)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Ambientes)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Propietario)
        </dt>
        <dd class = "col-sm-8">
            <a asp-action="Details" asp-controller="Propietarios" asp-route-id="@Model.Propietario.Id">
                @Html.DisplayFor(model => model.Propietario.Nombre)
            </a>
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Eliminar", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
</div>

<hr />
<div>
    <a class="btn btn-link" asp-action="Index">Lista de Inmuebles</a>
</div>
