@model IEnumerable<InmobiliariaAlbornoz.Models.Inmueble>

@{
    ViewData["Title"] = "Lista de Inmuebles";
}

@if (TempData["msg"] != null)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>@TempData["msg"]</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
}

<h1>Inmuebles</h1>
<hr />
<p>
    <a class="btn btn-secondary" asp-action="Create"><i class="far fa-plus-square"></i> Cargar Nuevo</a>
    <a class="btn btn-secondary" asp-action="Availables"><i class="fas fa-hotel"></i> Consultar por Fechas</a>
</p>
<hr />
<table class="table" id="table_id">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsoNombre)
            </th>
            <th width="40">
                Amb.
                @*@Html.DisplayNameFor(model => model.Ambientes)*@
            </th>
            <th width="40">
                Disp.
                @*@Html.DisplayNameFor(model => model.Disponible)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propietario)
            </th>
            <th width="90"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoNombre)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Ambientes)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Propietario.Nombre)
            </td>
            <td>
                <div>
                    <i class="fas fa-user-edit"></i> @Html.ActionLink("Editar", "Edit", new { id = item.Id })

                </div>
                <div>
                    <i class="fas fa-user"></i> @Html.ActionLink("Detalles", "Details", new { id = item.Id })

                </div>
                <div>
                    <i class="fas fa-trash-alt"></i> @Html.ActionLink("Borrar", "Delete", new { id = item.Id })

                </div>
            </td>
        </tr>
            }
        }

    </tbody>
</table>
