@model IEnumerable<InmobiliariaAlbornoz.Models.Inmueble>

@{
    ViewData["Title"] = "Lista de Inmuebles";
}

@if (ViewData["Error"] != null)
{
    <p class="alert-warning">@ViewData["Error"]</p>
}

<h1>Inmuebles</h1>

<p>
    <a asp-action="Create"><i class="far fa-plus-square"></i> Cargar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propietario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Ambientes)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Disponible)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Propietario.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
