@model IEnumerable<InmobiliariaAlbornoz.Models.Pago>

@{
    ViewData["Title"] = "Lista de Pagos";
}

@if (TempData["msg"] != null)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>@TempData["msg"]</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
}

<h1>Pagos</h1>
<hr />
<p>
    <a class="btn btn-secondary" asp-action="Create"><i class="far fa-plus-square"></i> Cargar Nuevo</a>
</p>
<hr />
<table class="table" id="table_id">
    <thead>
        <tr>
            <th width="40">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th width="40">
                @Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th width="100">
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th width="100">
                @Html.DisplayNameFor(model => model.FechaCorrespondiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th width="40">
                @Html.DisplayNameFor(model => model.Anulado)
            </th>
            <th width="70"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="text-center">
                <a asp-controller="Contratos" asp-action="Details" asp-route-id="@item.IdContrato">
                    @Html.DisplayFor(modelItem => item.IdContrato)
                </a>
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.FechaCorrespondiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Anulado)
            </td>
            <td>
                @if (!item.Anulado)
                {
                    <div>
                        <i class="fas fa-user-edit"></i> @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                    </div>
                }
                <div>
                    <i class="fas fa-user"></i> @Html.ActionLink("Detalles", "Details", new { id = item.Id })
                </div>
                @if (User.IsInRole("Administrador"))
                {
                    <div>
                        <i class="fas fa-trash-alt"></i> @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                    </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
