@model IEnumerable<InmobiliariaAlbornoz.Models.Propietario>

@{
    ViewData["Title"] = "Propietarios";
}

<h1>Propietarios</h1>

<p>
    <a asp-action="Create"><i class="far fa-plus-square"></i> Cargar Nuevo</a>
</p>
<table class="table" id="table_id">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <i class="fas fa-user-edit"></i> @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                <i class="fas fa-user"></i> @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
                <i class="fas fa-trash-alt"></i> @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
