@model InmobiliariaAlbornoz.Models.Inquilino

@{
    ViewData["Title"] = "Borrar Inquilino";
}

@if (TempData["msg"] != null)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>@TempData["msg"]</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
}

<h1>Borrar</h1>

<h3>¿Está seguro?</h3>
<div>
    <h4>Inquilino</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionTrabajo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DireccionTrabajo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a class="btn btn-link" asp-action="Index">Lista de Inquilinos</a>
    </form>
</div>
