@model InmobiliariaAlbornoz.Models.Inquilino

@{
    ViewData["Title"] = "Detalles Inquilino";
}

<h1>Detalles</h1>

<div>
    <h4>Inquilino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FechaN)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FechaN)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DireccionTrabajo)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DireccionTrabajo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Volver a la Lista</a>
</div>
